.h0  { position:absolute; bottom:0; right:1000em; }

/* percent colors */

.percent.b0a39 { background-color:#f00; }
.percent.b0a10 { background-color:#f00 !important; }
.percent.b40a59 { background-color:#fc3; }
.percent.b11a20 { background-color:#fc3 !important; }
.percent.b60a100 { background-color:#9eca3c; }
.percent.b21a100 { background-color:#9eca3c !important; }

/* text */

.text {
	font:normal 14px/21px FacitRegular, sans-serif;
}

.text.center {
	text-align:center;
}

.text.B {
	font:normal 13px/21px FacitSemibold, sans-serif;
	color:#999;
}

/* customize */

.customize header p {
	margin:0;
}

.col.customize .nav {
	display:block;
	width:auto;
	overflow:hidden;
	padding:14px 9px;
	background:url(../images/background4.png) no-repeat 0 0;
}

/* 0. intro */

.col.left.customize {
	width:632px;
	padding-right:331px;
	border-top:1px solid #cecece;
	margin-right:-340px;
}

.col.right.customize {
	width:304px;
	padding-top:1px;
	overflow:visible;
	float:none;
	margin-left:656px;
}

.alwaysVisible {
	top:0;
	z-index:50;
}

/* headers */

.h1 {
	margin:7px 0 -14px;
	font:normal 41px/1.2 FuturaStdMedium, sans-serif;
	font-weight:normal;
}

.h2 {
	padding:9px 10px 7px;
	background:#b6b6b6 url(../images/background1.png) no-repeat 0 0;
	border-bottom:1px solid #fff;
	font:bold 18px FacitRegular, sans-serif;
	text-align:left;
}

	.h2 data {
		font-weight:normal;
	}

.h3 {
	display:block;
	padding:0 32px 14px;
	font:normal 28px FuturaStdMedium, sans-serif;
	color:#464646;
}

.h4 {
	margin:0 0 2px;
	font:normal 60px/94px FuturaStdMedium, sans-serif;
}

.h5 {
	display:block;
	font:normal 24px/24px FacitRegular, sans-serif;
}

.h6 {
	margin:0 0 9px;
	font:bold 16px FacitRegular, sans-serif;
}

.h7 {
	margin:0;
	font:normal 20px FacitSemibold, sans-serif;
	color:#0f3f58;
	text-transform:uppercase;
}

.h8 {
	position:relative;
	font:normal 30px FacitSemibold, sans-serif;
	color:#59595c;
}

	.h8 .button {
		position:absolute;
		top:0px;
		right:0px;
	}

.h9 {
	font:normal 16px FacitRegular, sans-serif;
	color:#999;
}

	.h9 b {
		font-family:FacitSemibold, sans-serif;
		font-weight:normal;
	}

.h10 {
	font:bold 44px FuturaStdMedium, sans-serif;
	color:#0f3f58;
}

.h11 {
	padding:27px 0 6px;
	margin:0;
	font:normal 25px FacitSemibold, sans-serif;
	color:#59595c;
	text-transform:capitalize;
}

.h12 {
	font:normal 33px/50px FacitSemibold, sans-serif;
	color:#0f3f58;
}

.h13 {
	margin:18px 0 3px;
	font:normal 18px FacitRegular, sans-serif;
}

	.h13 b {
		font:bold 18px FuturaStdMedium, sans-serif;
	}

.h15 {
	margin:0;
	font:normal 20px FacitSemibold, sans-serif;
	color:#0f3f58;
}

.h16 {
	display:block;
	font:normal 34px/40px FuturaStdMedium, sans-serif;
}

/* modules */

/* md1:
   package details */

.md1 {
	padding:8px 12px;
	background-color:#f4f4f4;
	border-right:1px solid #e2e2e2;
	margin:0 -9px 0 -79px;
	color:#575858;
}

	.md1 .conflict {
		padding:0 8px 2px;
		background:#999 url(../images/background8.png) no-repeat 0 100%;
		margin:-8px -12px 8px;
		color:#fff;
	}

		.md1 .conflict strong {
			display:block;
			padding:8px 0 8px 25px;
			background:url(../images/background8.png) no-repeat -1000px 50%;
			font-weight:normal;
		}

	.md1 .reviews {
		padding:9px 0 13px;
		border-top:1px solid #e2e2e2;
		clear:both;
		margin:2px 0 0;
		font:normal 15px FacitRegular, sans-serif;
	}

	.md1 .text + .reviews {
		border:0;
		margin:0;
	}

/* md2:
   car */

.md2 {
	padding:43px 0 67px;
	background:url(../images/background5.png) no-repeat 0 0;
	position:relative;
	clear:both;
}

.md2:hover {
	-webkit-box-shadow:0 2px 7px 5px #E7E7E7;
	-moz-box-shadow:0 2px 7px 5px #E7E7E7;
	box-shadow:0 2px 7px 5px #E7E7E7;
}

	.md2u1 {
		width:350px;
		padding:0 35px 31px 0;
		margin-top:-14px;
		float:left;
	}

	.md2u2 {
		width:365px;
		padding-right:210px;
		float:right;
	}

		.md2u2 .h8 button {
			display:none;
		}

		.md2:hover .md2u2 .h8 button {
			display:inline-block;
		}

	.md2u3 {
		display:none;
		position:absolute;
		top:15px;
		right:0;
	}

	.md2:hover .md2u3 {
		display:block;
	}

	.md2u7 {
		position:absolute;
		top:51px;
		right:0;
	}

	.md2u4 {
		width:575px;
		clear:right;
		margin-left:385px;
	}

	.md2u5 {
		position:absolute;
		bottom:41px;
		left:385px;
	}

	.md2u6 {
		position:absolute;
		top:198px;
		left:31px;
	}

	.md2u8 {
		padding:7px 0 0 10px;
		min-height:50px;
		overflow:hidden;
		border:solid #ccc;
		border-width:1px 0;
		font:normal 11px FacitRegular, sans-serif;
		color:#999;
	}

/* md3:
   car details */

.md3 {
	text-align:right;
}

.md3u1a {
	padding-right:5px;
	float:left;
	font:normal 16px/20px FacitSemibold, sans-serif;
	color:#575858;
}

.md3u1b {
	height:33px;
	font:normal 16px/20px FacitRegular, sans-serif;
	color:#575858;
	text-align:left;
}

.md3u2a,
.md3u2b {
	min-height:57px;
	border:solid #ccc;
	border-width:1px 0;
	float:left;
	font:normal 14px/55px FacitSemibold, sans-serif;
	color:#999;
}

.md3u2b {
	padding-right:20px;
	border-right:1px solid #e6e6e6;
}

	.md3u2a img {
		vertical-align:middle;
	}

	.md3u2b b {
		font-size:20px;
		font-weight:normal;
	}

.md3u3a,
.md3u3b {
	display:inline;
	position:relative;
	bottom:28px;
	font:normal 16px/20px FacitSemibold, sans-serif;
	color:#575858;
}

/* md3.B */

.md3.B .md3u2b b {
	font-size:22px;
	line-height:54px;
}

/* md4:
   garage */

.md4 {
	padding:8px 0;
	border-top:1px solid #ccc;
}

	.md4u1 {
		float:left;
	}

		.md4u1.h10 button {
			display:none;
		}

		.md4u1.h10:hover button {
			display:inline-block;
		}

	.md4u2 {
		float:right;
	}

	.md4u3 {
		clear:both;
	}

/* md5:
   car - just added */

.md5 {
	padding:33px 0;
	background:url(../images/background7.png) no-repeat 0 0;
	position:relative;
}

	.md5u1 {
		width:290px;
		height:155px;
		overflow:hidden;
		float:left;
	}

	.md5u2 {
		width:660px;
		float:right;
	}

		.md5u2.h12 button {
			display:none;
		}

		.md5:hover .md5u2.h12 button {
			display:inline-block;
		}

	.md5u3 {
		overflow:hidden;
		min-height:57px;
		border:solid #ccc;
		border-width:1px 0;
		margin:-20px 0 0;
		line-height:56px;
		text-align:right;
	}

	.md5u5 {
		padding:12px 0 5px;
		background:#efefef url(../images/background6.png) no-repeat 0 0;
		clear:both;
		font:normal 21px FacitSemibold, sans-serif;
		color:#0f3f58;
		text-align:center;
	}

		.md5u5 > * {
			display:inline;
			font-weight:normal;
		}

			.md5u5 a {
				position:relative;
				bottom:2px;
			}
	.md5u6 {
		display:none;
		position:absolute;
		top:15px;
		right:0;
	}

	.md5:hover .md5u6 {
		display:block;
	}

/* md6:
   review */

.md6 {
	padding:4px 0;
	border-top:1px solid #ccc;
	margin-right:112px;
	position:relative;
}

	.md6 header small {
		padding-right:3px;
		font:normal 14px/20px FacitRegular, sans-serif;
		color:#666;
	}

	.md6 header small + small {
		padding-left:6px;
		border-left:1px solid #666;
	}

	.md6 .text {
		padding-bottom:7px;
		margin-top:-6px;
		line-height:18px;
	}

	.md6 .text.collapse {
		max-height:5.8em;
		margin-bottom:13px;
		overflow:hidden;
	}

	.md6u4 {
		position:absolute;
		bottom:1px;
		right:2px;
	}

	.md6u3 > * {
		display:inline;
		font:normal 14px FacitRegular, sans-serif;
		color:#999;
	}

/* lists */

/* ls1:
   customize links */

.ls1 {
	counter-reset:customize;
	list-style:none;
	border-bottom:1px solid #cfcfcf;
	margin:21px 0 -4px;
}

	.ls1 > li {
		counter-increment:customize;
		overflow:hidden;
		border-top:1px solid #cfcfcf;
		font:normal 15px FacitRegular, sans-serif;
	}

		.ls1 a {
			display:block;
			padding:5px 80px 13px 74px;
			background:#fff url(../images/backgrounds3.png) no-repeat 0 50%;
			color:#575858;
			line-height:19px;
		}

		.ls1 a:focus,
		.ls1 a:hover {
			background:#f4f4f4 url(../images/backgrounds3.png) no-repeat -1000px 50%;
		}

			.ls1 b {
				display:block;
				padding-bottom:2px;
				font:normal 38px FuturaStdMedium, sans-serif;
				color:#72bde8;
			}
	
			.ls1 b::before {
				content:counter( customize );
				float:left;
				font-size:69px;
				line-height:1;
				margin:2px 0 0 -54px;
			}

		.ls1 a:focus,
		.ls1 a:hover {
			background-color:#f4f4f4;
			color:#575858 !important;
		}

			.ls1 a:focus b,
			.ls1 a:hover b {
				color:#f47d30;
			}

/* ls2:
   package options */

.ls2 {
	overflow:hidden;
	margin:0;
}

	.ls2 > li {
		list-style:none;
		padding:5px 0 6px;
		border-top:1px solid #e2e2e2;
	}

	.ls2 > li > fieldset {
		display:inline-block;
	}

	.ls2 img {
		vertical-align:middle;
	}

/* ls2 A */

.ls2.A {
	width:50%;
	overflow:visible;
	border-top:0;
	border-right:1px solid #e2e2e2;
	float:left;
	margin-right:-1px;
	position:relative;
}

	.ls2.A label {
		display:block;
		padding-left:37px;
	}

	.ls2.A input,
	.ls2.A img {
		position:absolute;
		top:3px;
		left:10px;
	}

	.ls2.A img {
		width:20px;
		height:15px;
		border:2px solid #cfcfcf;
	}

	.ls2.A input:checked + img {
		border-color:#666767;
	}

	.ls2.A .price {
		padding:0 5px;
		float:right;
	}

/* ls3:
   share icons */

.ls3 > li {
	padding:5px 11px 0 0;
	float:left;
}

/* ls4:
   recently viewed */

.ls4 {
	margin-left:-20px;
}

.ls4 > li {
	width:225px;
	padding-top:29px;
	background:url(../images/background5.png) no-repeat 0 0;
	float:left;
	margin-left:20px;
	font:normal 16px FacitRegular, sans-serif;
}

.ls4 a,
.ls4 img {
	display:block;
	margin:0 auto;
	color:#a2a2a2;
	text-align:center;
}

/* ls5 */

.ls5 > li {
	display:inline;
}

	.ls5 img {
		vertical-align:middle;
	}

/* ls6 */

.ls6 {
	margin:4px -2px;
	font:normal 11px FacitSemibold, sans-serif;
	text-align:right;
}

	.ls6 > li {
		display:inline;
		padding:0 2px;
	}

/* ls7 */

.ls7 {
	padding:5px 12px;
	border:solid #e2e2e2;
	border-width:1px 0;
	margin:-7px 0 -5px;
	font:normal 12px Helvetica, Arial, sans-serif;
	text-transform:capitalize;
}

	.ls7 > li {
		list-style:none;
		padding:3px 0 4px;
	}

/* ls8 */

.ls8 {
	margin:0;
	text-align:center;
}

	.ls8 > li {
		list-style:none;
		padding-bottom:13px;
	}

/* tables */

/* tb1 */

.tb1 {
	width:100%;
	margin:30px auto 0;
	background-color:#f4f4f4;
}

	.tb1 tbody th,
	.tb1 tbody td {
		padding:0 0 12px;
	}
	
	.tb1 tbody tr:first-child th,
	.tb1 tbody tr:first-child td {
		padding-top:26px;
	}

	.tb1 tbody tr:last-child th,
	.tb1 tbody tr:last-child td {
		padding-bottom:21px;
	}

	.tb1 tbody th {
		padding-left:13px;
		font-weight:normal;
		text-align:left;
	}

	.tb1 tbody td {
		text-align:right;
		font-weight:bold;
	}

		.tb1 data {
			white-space:nowrap;
		}

	.tb1 tbody td + td {
		width:11px;
		padding-right:13px;
		padding-left:13px;
	}

	.tb1 tfoot th,
	.tb1 tfoot td {
		padding:5px 13px;
		border-top:1px solid #ccc;
		font-size:14px;
		font-weight:bold;
		text-align:right;
	}

	.tb1 tfoot th {
		text-align:left;
	}

/* forms */

.form {
	overflow:visible;
}

/* fo1 */

.fo1 .submit {
	padding:18px 0 22px;
	background-color:#f4f4f4;
	text-align:center;
}

/* fo2:
   colors */

.fo2 > div {
	margin-left:-29px;
}

.fo2 > div > div {
	display:inline-block;
	width:134px;
	padding:0 0 5px 29px;
	overflow:hidden;
	position:relative;
	line-height:16px;
	vertical-align:top;
}

* + html .fo2 div div {
	display:inline;
	width:1px;
}

	.fo2 img,
	.fo2 label {
		display:block;
		font:normal 12px FacitSemibold, sans-serif;
		text-align:center;
	}

		.fo2 label b {
			display:block;
			padding-top:7px;
			min-height:44px;
			font-weight:normal;
		}

	.fo2 .color {
		position:relative;
		z-index:-1;
	}

	.fo2 .conflict,
	.fo2 .require {
		position:absolute;
		top:5px;
		left:35px;
	}

	.fo2 input {
		position:absolute;
		z-index:-10;
	}

	.fo2 label {
		background:url(../images/backgrounds2.png) no-repeat 0 0;
	}

	.fo2 .selected {
		background:url(../images/backgrounds2.png) no-repeat -250px 0;
	}

/* fo3:
   package */

.fo3 {
	padding:8px 120px 0 79px;
	border:solid #ccc;
	border-width:1px 0;
	clear:both;
	margin-bottom:-1px;
	position:relative;
}

	.fo3 legend {
		display:block;
		max-width:100%;
	}

	.fo3 .details {
		margin:2px 0 11px;
		font:normal 18px/24px FacitRegular, sans-serif;
	}

		.fo3 .details .percent {
			width:55px;
			height:55px;
			background-color:#9eca3c;
			position:absolute;
			top:0;
			left:0;
			font:bold 22px/56px FacitRegular, sans-serif;
			color:#fff;
			text-align:center;
		}

		.fo3 .details .conflict {
			position:absolute;
			top:10px;
			left:59px;
		}

	.fo3 > .submit {
		width:111px;
		border-left:1px solid #e3e3e3;
		position:absolute;
		top:10px;
		right:0;
		bottom:10px;
	}

		.fo3 > .submit button {
			margin-top:-18px;
			position:absolute;
			top:50%;
			right:0;
		}

		.js .fo3.pending > .submit button,
		.js .fo3 > .submit .remove,
		.js .fo3.selected > .submit .add {
			display:none;
		}

		.fo3.selected > .submit .remove {
			display:block;
		}

/* fo3.B */

.fo3.B {
	padding-top:0;
	border-top:0;
}

	.fo3.B .details {
		margin:-2px 0 13px;
	}

	.fo3.B .details .percent {
		width:65px;
		height:64px;
		font-size:26px;
		line-height:64px;
	}

/* fo4:
   package options */

.fo4 fieldset > div {
	width:215px;
	padding:9px 0 2px 33px;
	float:left;
}

	.fo4 .checkbox_replace {
		position:absolute;
		top:0;
		left:-23px;
	}

/* fo5:
   yes/no form */

.fo5 * {
	display:inline;
	vertical-align:top;
}

/* fo6:
   rename form */

.fo6 > div,
.fo6 > fieldset {
	display:inline-block;
	vertical-align:top;
}

.fo6 fieldset input {
	padding:0;
	border:0;
	outline:1px solid #72BDE8;
	margin-left:-1px;
}

.fo6 .submit input {
	display:block;
	margin-bottom:2px;
}

/* fo7 */

.fo7 button {
	background-color:#fff;
	font-weight:bold;
	vertical-align:baseline;
}

/* media */

/* me1:
   car thum in right column */

.alwaysVisible .me1 figcaption {
	width:180px;
	float:right;
}

.alwaysVisible .me1 img {
	width:115px;
}

/* me2:
   360 view */

.me2 {
	margin:0 0 15px;
	font-weight:bold;
	color:#9b9b9b;
	text-align:center;
}

	.me2 figcaption {
		display:block;
		padding-top:18px;
		font:normal 14px FacitSemibold, sans-serif;
		text-align:left;
	}

/* me3 */

.me3 {
	padding-right:12px;
	float:left;
}

/* links */

.link {
	padding:0;
	background:none;
	border:0;
	color:#72BDE8;
	cursor:pointer;
}

/* back */

.link.back {
	padding-left:15px;
	background:url(../images/arrows1.png) no-repeat 0 0;
	float:right;
	margin:-25px 0 0;
	font:normal 14px FacitSemibold, sans-serif;
}

.link.back:focus,
.link.back:hover {
	background:url(../images/arrows1.png) no-repeat 0 -50px;
	color:#F47D30 !important;
}

/* link back B */

.link.back.B {
	float:left;
	margin:10px 0 8px;
}

/* link back C */

.link.back.C {
	padding:0 3px 0 12px;
	background:url(../images/arrows1.png) no-repeat 0 -598px;
	float:none;
	font-size:11px;
}

.link.back.C:focus,
.link.back.C:hover {
	background:url(../images/arrows1.png) no-repeat 0 -648px;
}

/* link next */

.link.next {
	padding-right:23px;
	background:url(../images/arrows1.png) no-repeat 100% -100px;
	float:right;
	font:normal 16px FacitSemibold, sans-serif;
	text-align:right;
}

.link.next:focus,
.link.next:hover {
	background:url(../images/arrows1.png) no-repeat 100% -150px;
	color:#F47D30 !important;
}

/* link next A */

.link.next.A {
	background:url(../images/arrows1.png) no-repeat 100% -200px;
	font-size:14px;
	line-height:22px;
}

	.link.next.A b {
		display:block;
		font-size:20px;
		line-height:14px;
		font-weight:normal;
	}

.link.next.A:focus,
.link.next.A:hover {
	background:url(../images/arrows1.png) no-repeat 100% -250px;
}

/* link next B */

.link.next.B {
	display:table;
	padding-right:13px;
	background:url(../images/arrows1.png) no-repeat 100% -300px;
	float:none;
	font:bold 12px Helvetica, Arial, sans-serif;
}

.link.next.B:focus,
.link.next.B:hover {
	background:url(../images/arrows1.png) no-repeat 100% -350px;
}

/* link next C */

.link.next.C {
	padding:0 12px 0 3px;
	background:url(../images/arrows1.png) no-repeat 100% -298px;
	font-size:11px;
}

.link.next.C:focus,
.link.next.C:hover {
	background:url(../images/arrows1.png) no-repeat 100% -348px;
}

/* link more */

.link.more {
	padding-right:14px;
	background:url(../images/arrowsDouble1.png) no-repeat 100% 0;
	font:normal 18px FacitSemibold, sans-serif;
}

/* link poll */

.link.poll {
	padding-left:81px;
	background:url(../images/poll.png) no-repeat 9px 50%;
	font:normal 15px FacitSemibold, sans-serif;
}
